.App {
  display: flex;
  flex-direction: column;
  text-align: center;  
  justify-content: center;
  padding: 0 10vw 0 10vw;
}

.App-logo {
  height: 18vmax;
  width: 20vmax;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background: rgb(255,255,255);
  background: linear-gradient(250deg, rgba(255,255,255,1) 0%, rgba(168,254,245,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmax);
  height: auto;
  
  color: slategrey;
  -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
  -webkit-border-top-left-radius:15px;
  -moz-border-radius-topleft:15px;
  border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -moz-border-radius-topright:15px;
  border-top-right-radius:15px;
}

.App-link {
  color: #0917da;
  font-size: 2vh;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
