.Navbar{    
    display: flex;
    flex-direction: row;
    height: 4vh;    
    width: 100%;
    align-items: center;
}
.Navbar .container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;    
    justify-content: space-evenly;
}
.Navbar .links{  
    text-decoration: none;
    color:black;
    font-size: calc(0.5em + 1vw); 
    
}
.Navbar .links:focus{
    outline: 0;
    border: none;
}
.Navbar .links:active{
    outline: 0;
    border-bottom: solid 2px;
}